@charset "UTF-8";

@font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap'); 

@media (min-width:1200px) {
        body{width: 100%; height: auto; }
        .container { width: 1200px; margin: 0 auto;}
        section { width: 100%; height: 900px; text-align: center;}

        /* 헤더 */
        header { width: 100%; height: 60px; position: absolute; top: 0;
                border-bottom: 1px solid #fff; padding-bottom: 50px; 
                z-index: 999; }

        header .container { height: 40px; padding: 15px 0; 
                display: flex; justify-content: space-between;}
        .title p a { font-size: 50px; font-weight: bold; 
                letter-spacing: 5px; position: relative;
                color: #fff; padding-left: 20px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
        .title p a span { font-weight: 300; font-size: 15px; 
                background-color: #333; padding: 0px 10px;
                font-family: 'Pretendard'; display: block;
                position: absolute; top:55px; left: 16px; z-index: -1;}
        #menu ul { display: flex; flex-flow: row wrap; padding-top: 20px; }
        #menu ul li { margin-left: 40px; 
                font-size: 22px; font-weight: 800; letter-spacing: 1px; 
                font-variant: small-caps; }
        #menu ul li a { transition: 0.5s ease;}
        #menu ul li a:hover { color: #fff; }
        #menu ul li .on { color: #fff;}
        .active_bg { position: fixed; 
                background: linear-gradient(to right,rgba(238, 174, 202, 1) 0%,
                rgba(148, 187, 233, 1) 100%);
                border: none; transition: 0.5s ease;}
        #menu-700 { display: none;}
        /*  배경이미지 */
        #home { background: url("../img/gosung_sky.jpg") no-repeat fixed;
                background-size: cover; 
                display: flex; justify-content: center; align-items: center;}
        .paper { width: 100%; height: 300px; 
                background:url("../img/paper.png")no-repeat 800px;
                transform: translateY(70px);  opacity: 0; transition: all 1s; }
        section .container h1 { font-size: 45px; font-weight: lighter;  
                font-variant: small-caps; display: inline-block; 
                width: 200px; border-bottom: 1px solid #666;
                padding: 50px 0 20px 0;
                margin-bottom: 50px;}

        /* 나에 대해 */
        #aboutme .container { height: 100%; }
        .profile { display: flex; flex-direction: row; justify-content: space-between;}
        .profile .photo { width: 15%; height: 200px; background: url('../img/hyon.jpg') no-repeat ;
                background-size: cover; margin-left: 200px;
                position: relative;}
        .photo-line { width: 100%; height: 100%; 
                position: absolute; top: 10px; left: 10px;
                border: 2px solid rgba(31, 31, 31, 0.5);}
        #aboutme .container .text-box { width: 55%; text-align: left;}

        #aboutme p { font-size:20px; display: inline; line-height: 36px;
                font-family: 'Pretendard-Regular';  font-weight: 500;}
        #aboutme .text-box span { width: 120px; color: #888; display: inline-block;}
        .hash-tag { margin: 40px;}
        .hash-tag+div span { font-size: 22px; border: 1px solid rgba(148, 187, 233);
                        border-radius: 50px; padding: 10px 20px; margin: 10px;
                        color: rgba(148, 187, 233);}

        /* skill */
        #skill .container { height: 100%; }
        .skill-title { font-size: 26px; text-align: left; margin-bottom: 20px;}
        .skill-title:before { content: ""; width: 20px; height: 15px;
                display: inline-block;
                background: url(../img/checkmark.svg) no-repeat center;}
        .skill-inner { display: flex; justify-content: space-between; 
                align-items: center; margin-bottom: 40px;}
        .tool-logo { width: 60%; display: flex; flex-flow: row wrap; justify-content:left;
                        align-items: center;}
        .circle { width: 150px; height: 150px; margin: 10px;
                border-radius: 50%; background-color: #eee;
                display: flex; flex-flow: row column; 
                align-items: center; justify-content: center;
                position: relative; overflow: hidden; }
        .circle img { margin-bottom: 30px;}
        .percent { position: absolute; left: 0; bottom: 0; 
                background: linear-gradient(to top,rgba(238, 174, 202, .2) 0%,
                rgba(148, 187, 233, .5) 100%); 
                width: 100%; height: 0;
                transition: .8s ease; } 
        .percent>p { padding-top: 90px; font-size: 25px; color: rgb(38, 59, 117);
                font-weight: 900; text-shadow: 1px 1px 2px #fff;
                font-family: "Roboto Mono";} 
        .html p,.css p,.jquery p{ padding-top: 70px;}  
        .js p { padding-top: 50px;} 
        .skill-text { font-size: 20px; width: 40%; text-align: justify; 
                line-height: 30px; display: inline; padding-left: 10px;}

        /* work */
        .work-list { height: 30px; display: flex; flex-flow: row wrap;
                justify-content: space-around; margin-bottom: 50px;}
        .work-list li { width: auto; font-size: 18px; 
                        font-weight: 600; padding: 0px 40px;
                        background: url(../img/lnb-dot.gif)no-repeat right 5px;
                        transition: 0.3s; }
        .work-list li:last-child { background: none;}
        .work-list li:hover,li.on-color { color: rgb(148, 187, 233);}
        .work-view { padding-top: 100px; position:relative; width: 1200px;}
        .work-view li { position: absolute; top:0; left: 0;
                        width: 1200px; text-align: left; padding-top: 20px;}
        .work-view li:not(:first-child) {display: none;}
        .work-view li h5 { font-size: 18px; color: #888; 
                        font-weight: 300; margin-bottom: 10px;}
        .work-view li h3 { font-size: 26px;
                        margin-bottom: 20px;}
        .work-view li p { font-size: 18px; line-height: 30px; 
                width: 40%;
                margin-bottom: 50px;}
        .main-btn,.sub-btn { font-size: 18px; margin-right: 10px;
                padding: 10px 30px; border: 1px solid #666;
                border-radius: 50px;}
        .main-btn:hover,.sub-btn:hover { background-color: #666 ; color: #fff;}

        .work-view li .view-img { position: absolute; top: 20px; right: 0;
                width: 75%; height:500px; }
        .work-view li:nth-child(1) .view-img { background: url(../img/view6.png) no-repeat right; 
                background-size: contain;}
        .work-view li:nth-child(2) .view-img { background: url(../img/view5.png) no-repeat right; 
                background-size: contain;}
        .work-view li:nth-child(3) .view-img { background: url(../img/view4.png) no-repeat right; 
                background-size: contain;}
        .work-view li:nth-child(4) .view-img { background: url(../img/view3.png) no-repeat right; 
                background-size: contain;}
        .work-view li:nth-child(5) .view-img { background: url(../img/view2.png) no-repeat right; 
                background-size: contain;}
        .work-view li:nth-child(6) .view-img { background: url(../img/view1.png) no-repeat right; 
                background-size: contain;}

        /* design */
        #design .container ul { display: flex; flex-wrap: wrap; justify-content: space-between;} 
        #design .container ul li { height: 150px;}
        .design-title, .design-title+p { text-align: center; font-family: 'Pretendard-Regular';
                                margin-bottom: 20px; display: block;}
        .design-title+p { color: #888; }

        /* contact */
        .contact-info { display: flex; justify-content: space-around;}
        .contact-info .info-box { width: 25%; height: 250px; 
                background-color: #eee; position: relative;
                border-radius: 15px; overflow: hidden; 
                display: flex; flex-direction: column; 
                justify-content: center;}
        .info-box img {  width: 20%; margin: 0 auto;}

        .overlay { position: absolute; left: 0; bottom: 0; right: 0; 
                background-color: rgba(238, 174, 202, 1); 
                width: 100%; height: 100%; opacity: 0; 
                transition: .5s ease;}
        .info-box:hover .overlay {opacity: 1;}
        .info-box .overlay h5 { font-size: 22px; margin-top: 50px; font-weight: 100;}
        .info-box .overlay h5::after { content: "|"; width: 1px; height: 10px;
                color: #fff; display: block; padding-left: 50%; margin: 20px 0;}
        .info-box .overlay p { font-size: 25px; color: #333;
                font-family: 'Pretendard-Regular'; }

        .resolution { font-size: 30px; padding-top: 75px; line-height: 50px;
                font-family: 'Noto Serif KR', serif;}
        .resolution span { background-color: aquamarine; height: 50%;}
        footer { padding: 20px 0; text-align: center;
                width: 100%; height: 150px; background: rgb(67, 79, 117);}
        footer p { margin-top: 50px; color: #fff;}
        footer p:nth-child(2) { font-size: 15px; font-weight: 200; color: #999;}
}
