@charset "UTF-8";

@font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap'); 

@media (max-width:599.9px)  {
        body { width: 100%; height: auto; }
        .container { width: 100%; }
        section { width: 100%; height: 100%; text-align: center; padding: 50px 0; }

        /* 헤더 */
        header { width: 100%; height: 60px; position: absolute; top: 0;
                border-bottom: 1px solid #fff; padding-bottom: 50px; 
                z-index: 999; }

        header .container {width: 100%; height: 40px; padding: 15px 0; 
                display: flex; justify-content: space-between;}
        .title p a { font-size: 50px; font-weight: bold; 
                letter-spacing: 5px; position: relative;
                color: #fff; padding-left: 20px;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
        .title p a span { font-weight: 300; font-size: 15px; 
                background-color: #333; padding: 0px 10px;
                font-family: 'Pretendard'; display: block;
                position: absolute; top:55px; left: 16px; z-index: -1;}
        #menu ul { display: flex; flex-flow: row wrap; padding-top: 20px; }
        #menu ul li { margin-left: 40px; 
                font-size: 22px; font-weight: 800; letter-spacing: 1px; 
                font-variant: small-caps; }
        #menu ul li a { transition: 0.5s ease;}
        #menu ul li a:hover { color: #fff; }
        #menu ul li .on { color: #fff;}
        .active_bg { position: fixed; 
                background: linear-gradient(to right,rgba(238, 174, 202, 1) 0%,
                rgba(148, 187, 233, 1) 100%);
                border: none; transition: 0.5s ease;}
        #menu { display: none;}
        #mySidebar-bg { width: 0;
                position: fixed;
                z-index: 1;
                height: 100%;
                top: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.637);
                overflow-x: hidden;
                transition: 0.1s;}
        #mySidebar { width: 0;
                position: fixed;
                z-index: 1;
                height: 100%;
                top: 0;
                right: 0;
                background-color: #fff;
                overflow-x: hidden;
                transition: 0.1s;
                padding-top: 60px;}
                
        #mySidebar>ul li { font-size: 25px; margin: 0 40px; 
                padding: 15px; line-height: 35px; border-bottom: 1px solid #eee;}
        #mySidebar>ul li a,.sidebar-bottom p { font-family: 'Pretendard-Regular'; }
        
        #mySidebar .closebtn { position: absolute;
                top: 25px;
                right: 25px;
                font-size: 50px;
                margin-left: 50px;}
        #menu-700 span { display: block;
                        padding: 20px;}
        .sidebar-bottom { position: absolute; 
                top: 500px; left: 5vw;}
        .sidebar-bottom ul li { display: flex; align-items: center;
                        margin: 20px;}
        #mySidebar ion-icon { font-size: 30px;}
        #mySidebar p { font-size: 12px; padding-left: 20px;}
       

        /*  배경이미지 */
        #home { width: 100%; height: 80vh;
                background: url("../img/gosung_sky.jpg") no-repeat;
                background-size: cover; 
                display: flex; justify-content: center; align-items: center;}
        .paper { width: 90%; height: 150px; 
                background:url("../img/paper.png") no-repeat center;
                background-size: contain;
                transform: translateY(70px);  opacity: 0; transition: all 1s; }
        section .container h1 { font-size: 45px; font-weight: lighter;  
                font-variant: small-caps; display: inline-block; 
                width: 200px; border-bottom: 1px solid #666;
                padding: 20px 0 20px 0; font-family: 'Pretendard-Regular';
                margin-bottom: 50px;}

        /* 나에 대해 */
        #aboutme .container { height: 100%; padding: 0 2%; }
        .profile { display: flex; flex-direction: column; align-items: center; }
        .profile .photo { width: 33vw; height: 25vh; 
                /* background: url('../img/hyon.jpg') no-repeat ; */
                background-color: antiquewhite;
                background-size: cover;  
                position: relative;}
        .photo-line { width: 100%; height: 100%; 
                position: absolute; top: 5px; left: 5px;
                border: 2px solid rgba(31, 31, 31, 0.5);}
        #aboutme .container .text-box { width: 90%; text-align: left; margin-top: 50px;}

        #aboutme p { font-size:15px; display: inline; line-height: 28px;
                font-family: 'Pretendard-Regular';  font-weight: 500;
                letter-spacing: -1px;}
        #aboutme .text-box span { width: 18%; color: #888; display: inline-block;}
        .hash-tag { margin-top: 40px;}
        .hash-tag+div { display: flex; flex-flow: row wrap; 
                 justify-content: left; padding: 30px 10px;}
        .hash-tag+div span { font-size: 20px; border: 1px solid rgba(148, 187, 233);
                        border-radius: 50px; padding: 10px 20px; margin: 5px;
                        color: rgba(148, 187, 233);}

        /* skill */
        #skill { height: 100%;  }
        #skill .container { padding: 0 2%;  }
        .skill-title { font-size: 26px; text-align: left; margin-bottom: 20px;}
        .skill-title:before { content: ""; width: 20px; height: 15px;
                display: inline-block;
                background: url(../img/checkmark.svg) no-repeat center;}
        .skill-inner { display: flex; flex-direction: column; 
                align-items: center;
                margin-bottom: 40px;}
        .tool-logo { width: 90%; display: flex; flex-flow: row wrap;
                     justify-content: flex-start;}
        .circle { width: 150px; height: 150px; margin: 10px;
                border-radius: 50%; background-color: #eee;
                display: flex; flex-flow: row column; 
                align-items: center; justify-content: center;
                position: relative; overflow: hidden; }
        .circle img { margin-bottom: 30px;}
        .percent { position: absolute; left: 0; bottom: 0; 
                background: linear-gradient(to top,rgba(238, 174, 202, .2) 0%,
                rgba(148, 187, 233, .5) 100%); 
                width: 100%; height: 0;
                transition: .8s ease; } 
        .percent>p { padding-top: 90px; font-size: 25px; color: rgb(38, 59, 117);
                font-weight: 900; text-shadow: 1px 1px 2px #fff;
                font-family: "Roboto Mono";} 
        .html p,.css p,.jquery p{ padding-top: 70px;}  
        .js p { padding-top: 50px;} 
        .skill-text { font-size: 22px; width: 80%; text-align: justify; 
                line-height: 25px; display: inline; margin-top: 20px;}

        /* work */
        #portpolio{ height: 100%; }
        #portpolio .container { padding: 0 4%; }
        .work-list { display: flex; flex-flow: row wrap;
                     margin-bottom: 40px;}
        .work-list li { width: 43%; font-size: 16px; 
                        font-family: 'Pretendard-Regular';
                        font-weight: 600; padding: 10px 10px;
                        border:1px solid #eee;
                        transition: 0.3s; 
                        margin-top: -1px; margin-left: -1px;}
        .work-list li:hover{cursor: pointer;}
        .work-list li:hover,li.on-color { color: rgb(148, 187, 233);}
        .work-view { padding-top: 100px; position:relative; 
                width: 100%; height: 450px;}
        .work-view li { position: absolute; top:0; left: 0;
                        width: 100%; text-align: left; padding-top: 20px;}
        .work-view li:not(:first-child) {display: none;}
        .work-view li h5 { font-size: 18px; color: #888; 
                        font-weight: 300; margin-bottom: 10px;}
        .work-view li h3 { font-size: 26px;
                        margin-bottom: 20px;}
        .work-view li p { font-size: 15px; line-height: 20px; 
                width: 80%;
                margin-bottom: 7%;}
        .main-btn,.sub-btn { font-size: 18px; margin-right: 1%;
                padding: 10px 30px; border: 1px solid #666;
                border-radius: 50px; font-family: 'Pretendard-Regular';}
        .main-btn:hover,.sub-btn:hover { background-color: #666 ; color: #fff;}

        .work-view li .view-img { position: absolute; top: 250px; left: -10px;
                width: 95%; height:260px; }

        .work-view li:nth-child(1) .view-img { background: url(../img/view6.png) no-repeat ; 
                background-size: contain;}
        .work-view li:nth-child(2) .view-img { background: url(../img/view5.png) no-repeat ; 
                background-size: contain;}
        .work-view li:nth-child(3) .view-img { background: url(../img/view4.png) no-repeat ; 
                background-size: contain;}
        .work-view li:nth-child(4) .view-img { background: url(../img/view3.png) no-repeat ; 
                background-size: contain;}
        .work-view li:nth-child(5) .view-img { background: url(../img/view2.png) no-repeat ; 
                background-size: contain;}
        .work-view li:nth-child(6) .view-img { background: url(../img/view1.png) no-repeat ; 
                background-size: contain;}

        /* design */
        #design { height: 100%; padding: 0 2%;}
        #design .container ul { display: flex; flex-wrap: wrap; justify-content: center; } 
        #design .container ul li { width: 45%; height: auto; }
        #design .container ul li img { width: 100%;}
        .design-title, .design-title+p { text-align: center; font-family: 'Pretendard-Regular';
                margin-bottom: 20px; display: block;}
        .design-title+p { color: #888; }

        /* contact */
        .contact-info .container { height: 100%; padding: 0 2%; }
        .contact-info { display: flex; flex-direction: column; align-items: center;}
        .contact-info .info-box { width: 50%; height: 150px; 
                margin-bottom: 2%;
                background-color: #eee; position: relative;
                border-radius: 15px; overflow: hidden; 
                display: flex; flex-direction: column; 
                justify-content: center;}
        .info-box img {  width: 15%; margin: 0 auto;}

        .overlay { position: absolute; left: 0; bottom: 0; right: 0; 
                background-color: rgba(238, 174, 202, 1); 
                width: 100%; height: 100%; opacity: 0; 
                transition: .5s ease;}
        .info-box:hover .overlay {opacity: 1;}
        .info-box .overlay h5 { font-size: 22px; margin-top: 20px; font-weight: 100;}
        .info-box .overlay h5::after { content: "|"; width: 1px; height: 10px;
                color: #fff; display: block; padding-left: 50%; margin: 20px 0;}
        .info-box .overlay p { font-size: 4.5vw; color: #333;
                font-family: 'Pretendard-Regular'; }

        .resolution { font-size: 3.2vw; padding: 10% 5% 0 5% ; line-height: 28px;
                font-family: 'Noto Serif KR', serif;}
        .resolution span { background-color: aquamarine; height: 50%;}

        footer { padding: 10px 0; text-align: center;
                width: 100%; height: 150px; background: rgb(67, 79, 117);}
        footer p { font-size: 13px; margin-top: 40px; color: #fff;}
        footer p:nth-child(2) { font-weight: 200; color: #999;}
}
