@charset "UTF-8";
body{width: 100%; height: auto; }
.container { width: 1200px; margin: 0 auto;}

/* 헤더 */
header { width: 100%; height: 60px; position: absolute; top: 0;
        border-bottom: 1px solid #fff; padding-bottom: 50px; 
        z-index: 999; font-variant: small-caps;}

header .container { height: 40px; padding: 35px; 
        display: flex; justify-content: space-between;}
.title p { font-size: 35px; font-weight: bold; 
         color: #fff;}

#menu ul { display: flex; flex-flow: row wrap; }
#menu ul li { margin-left: 60px; font-size: 22px; font-weight: 600;}

.active_bg { position: fixed; 
        background: linear-gradient(to right,rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%);
        border: none;}

section { width: 100%; height: 900px; text-align: center;}
#home { background: url("../img/gosung_sky.jpg") no-repeat fixed;
        background-size: cover; 
        display: flex; justify-content: center; align-items: center;}
.paper { width: 100%; height: 300px; 
         background:url("../img/paper.png")no-repeat 800px;
         transform: translateY(70px);  opacity: 0; transition: all 1s; }
section .container h1 { font-size: 45px; font-weight: lighter;  
        font-variant: small-caps; display: inline-block; 
        width: 200px; border-bottom: 1px solid #666;
        padding: 100px 0 20px 0;
        margin-bottom: 50px;}

/* 나에 대해 */
#aboutme .container { height: 100%; }
.profile { display: flex; flex-direction: row; justify-content: space-between;}
.profile .photo { width: 30%; height: 400px; background-color: #888; 
        position: relative;}
.photo-line { width: 100%; height: 100%; 
        position: absolute; top: 10px; left: 10px;
         border: 2px solid rgba(31, 31, 31, 0.5);}
#aboutme .container .text-box { width: 55%; text-align: left;}

#aboutme p { font-size:20px; display: inline; line-height: 36px;
        font-weight: 500;}
#aboutme .text-box span { width: 120px; color: #888; display: inline-block;}
.hash-tag { margin: 50px;}
.hash-tag+div span { font-size: 22px; border: 1px solid rgba(148, 187, 233);
                border-radius: 50px; padding: 10px 20px; margin: 10px;
                color: rgba(148, 187, 233);}

/* skill */
#skill .container { height: 100%; }
#skill .container div { margin-bottom: 20px;}
.skill-title { font-size: 26px; text-align: left; margin-bottom: 20px;}

.skill-title:before { content: ""; width: 20px; height: 15px;
        display: inline-block;
        background: url(../img/checkmark.svg) no-repeat center;}
.skill-inner { display: flex; justify-content: space-between; align-items: center;}
.tool-logo { width: 60%; display: flex; flex-flow: row wrap; justify-content:left;
                align-items: center;}
.circle { width: 150px; height: 150px; margin: 10px;
        border-radius: 50%; background-color: rgb(243, 239, 229);
        display: flex; flex-flow: row column; align-items: center; justify-content: center;
        }
        
.skill-text { font-size: 20px; width: 40%; text-align: justify; 
        line-height: 30px; display: inline; padding-left: 10px;}

/* work */
.work-list li { width: 200px; float: left; font-size: 18px;
                font-weight: 600; padding: 10px 0; background: url(../img/lnb-dot.gif)no-repeat right; }
                .work-list li:last-child { background: none;}
.work-list li:hover { background-color: rgb(148, 187, 233); 
                color: #fff;
                border-radius: 50px; }
.work-view { padding-top: 100px;}
.work-view li { clear: both; display: flex; justify-content: space-between;
align-items: center;}
.work-view li div { width: 40%; text-align: left; }

.work-view li h5 {font-size: 24px;
                margin-bottom: 20px;}
.work-view li p { font-size: 20px; line-height: 25px; margin-bottom: 50px;}
.main-btn,.sub-btn { font-size: 18px; margin-right: 10px;
        padding: 10px 30px; border: 1px solid #666;
        border-radius: 50px;}
.main-btn:hover,.sub-btn:hover { background-color: #eee ; border: #eee;}
.work-view img { width: 100%;}
